@page "/Team"
@using NextDev_Blazor2.Models



<div class="team-page">
    <!-- Team Section -->
    <section class="team-section">
        <div class="container">
            <h2 class="mb-3">Équipe Wakanda</h2>
            <p>Innovation – Courage – Unité</p>
            <p class="mb-5">Nous sommes une équipe unie par la force et l'héritage d'une civilisation légendaire. Inspirée par l'esprit indomptable et l'innovation de Wakanda, nous affrontons chaque défi avec la puissance de notre collectif et la sagesse de nos cultures. Ensemble, nous transformons les obstacles en opportunités, guidés par une vision de succès et d'excellence. Ensemble, nous portons la flamme du changement.</p>

            <div class="row justify-content-center g-5">
                @if (members is null)
                {
                    <div class="col-12">Loading...</div>
                }
                else
                {
                    @foreach (var member in members)
                    {
                        <div class="col-md-6 d-flex justify-content-center">
                            <div class="team-member">
                                <img src="@member.MemberImage" alt="@member.MemberFullName" />
                                <div class="team-info">
                                    <NavLink href="@($"/Team/Detail/{member.MemberID}")">
                                        <h5>@member.MemberFullName</h5>
                                    </NavLink>
                                    <small>@member.MemberTitle</small>
                                    <p>@member.MemberDescription</p>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>
</div>

@code {
    private List<TeamMember>? members;

    protected override async Task OnInitializedAsync()
    {
        await LoadMembersAsync();
    }

    private async Task LoadMembersAsync()
    {
        
        members = new List<TeamMember>
                {
                    new TeamMember
                    {
                        MemberID = 1,
                        MemberFullName = "AGBEDEKPUI Délali Abel",
                        MemberTitle = "Guerrier du Vibranium",
                        MemberDescription = "Défenseur infatigable du progrès et de la technologie africaine",
                        MemberPhone = "(+227) 93 06 06 93",
                        MemberEmail = "abdallyacali@gmail.com",
                        MemberAddress = "Aeroport - Niamey, Niger",
                        MemberImage = "/images/img_a1.png"
                    },
                    new TeamMember
                    {
                        MemberID = 2,
                        MemberFullName = "YACOUBA Abdallah",
                        MemberTitle = "Sentinelle du Trône",
                        MemberDescription = "Gardien de la sagesse et de la stabilité du groupe",
                        MemberPhone = "(+227) 90 06 04 59",
                        MemberEmail = "delaliabel@gmail.com",
                        MemberAddress = "Poudrière - Niamey, Niger",
                        MemberImage = "/images/img_a2.png"
                    }
                };

    }


}
